/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial, helvetica, sans-serif;
}
html, body { height: 100% }
ol, ul {
	list-style: none;
}

header {
	margin-bottom: 1.5em
}

footer{
	padding: 1em;
}

h1 {
	padding: 1em;
	font-variant: small-caps;
	font-weight: 700;
	letter-spacing: 0.4em;
	font-size: 2em;
}
h2 {
	padding: 0.5em;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: 0.2em;
}
menu {
	display: inline-block;
	vertical-align: top;
	width: 10em;
	margin: 2em;
}
menu li:hover {
	cursor: pointer;
	opacity: 0.8;
}

section {
	display: inline-block;
	vertical-align: top;
	width: 50em;
}
section div {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	width: 40em;
	box-shadow: 1px 1px 10px -2px #888;
}
section ul {
	list-style-type: decimal;
	margin: 1em;
}
section ul li {
	margin-left: 2em;
	line-height: 1.5em;
}

#logo {
	width: 40%;
	height: auto;
	margin-bottom: 1em;
}

.solution_button {
	color: #C8082C;
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

.solution{
	width: 80%;
	height: auto;
	display: block;
    margin: 0 auto;
}

#downloads{
	display: block;
	float: right;
	width: 10em;
	margin: 2em;
}

.download{
	margin-top: 1.5em;
}

.download a{
	display: block;
}

.resource_title{
	font-weight: 550 ;
}

.master {
    padding-top: 1rem;
    padding-bottom: 1rem;
	background-color: #1d4999; 
	background: -moz-linear-gradient(top,#1d4999, #1d4999);
    background: -ms-linear-gradient(top, #1d4999, #1d4999);
    background: -webkit-linear-gradient(top, #1d4999, #1d4999);
	color: white
  }
