/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial, helvetica, sans-serif;
}
html, body { height: 100% }
ol, ul {
	list-style: none;
}

h1 {
	margin-bottom: 1.5em;
	padding: 1em;
	font-variant: small-caps;
	font-weight: 700;
	letter-spacing: 0.4em;
	font-size: 2em;
	border-bottom: 4px #888 double;
	opacity: 0.5;
}
h2 {
	padding: 0.5em;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	opacity: 0.8;
}
menu {
	display: inline-block;
	vertical-align: top;
	width: 10em;
	margin: 2em;
}
menu li:hover {
	cursor: pointer;
	opacity: 0.5;
}
section {
	display: inline-block;
	vertical-align: top;
	width: 50em;
}
section div {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	width: 40em;
	box-shadow: 1px 1px 10px -2px #888;
}
section ul {
	list-style-type: decimal;
	margin: 1em;
}
section ul li {
	margin-left: 2em;
	line-height: 1.5em;
}
